.section {
  @apply bg-custom-purple h-full
  md:p-20
  sm:p-16
  2sm:p-8
  3sm:p-4;
}

.columnContainer {
  @apply container flex items-center h-full;
}

.columnGroup {
  @apply lg:grid lg:grid-cols-2 lg:gap-16
  sm:flex sm:flex-col sm:gap-8;
}

.column {
  @apply flex flex-col justify-center items-center gap-8 text-white;
}

.title {
  @apply font-semibold 
  md:text-3xl 
  sm:text-2xl
  2sm:text-lg;
}

.subtitle {
  @apply font-normal
  md:text-xl 
  sm:text-xs;
}

.presentationImg {
  @apply lg:w-3/4 sm:w-2/4;
}
